# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore build and dist folders
build/
dist/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store